@{
    ViewData["Title"] = "Dashboard";
}


<div class="container">
    <div class="row">
        <h1 >Dashboard</h1>
        
        <div class="col">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a asp-controller="Product" asp-action="Index" type="button" class="btn btn-primary">Product</a>
                <a asp-controller="Categorie" asp-action="Index" type="button" class="btn btn-primary">Categorie</a>
                @if (User.IsInRole(MutipleStoreWebApp.Data.Static.Roles.Admin))
                {
                    <a asp-controller="Store" asp-action="Index" type="button" class="btn btn-primary">Store</a>
                }
            </div>

        </div>

    </div>

</div>